header {
    background-image: none; 
    /* Change later ^ */
    background-color: black;
    /* delete later ^ */
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#albums {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    margin-top: auto;
}

.albums {
    width: 75%;
    height: auto;
    display: block;
}